@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1f2937;
  background-color: #ffffff;
}

.prose img {
  border-radius: 0.5rem;
}